<%- include("partials/header") %>
<body>
    <h1 class="titleofpage">about</h1>
    
    <p> <%= content %></p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<%- include("partials/footer") %>
