<%- include("partials/header") %>
<body>
    <h1>Edit AI-Generated Content</h1>
    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="titleOfPost" autocomplete="off" class="form-control" id="exampleFormControlInput1" value="<%=title%>">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">post</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contentOfPost" autocomplete="off"><%= generatedText %></textarea>
        </div>
        <button class="btn btn-primary mt-5" type="submit" name="action" value="create">Create</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%- include("partials/footer") %>
</body>
