<%- include("partials/header") %>

<body>
    <h1>Compose</h1>
    
    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="titleOfPost" autocomplete="off" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Create your own note or prompt AI with a description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="contentOfPost" autocomplete="off"></textarea>
        </div>
        <button class="btn btn-primary mt-5" type="submit" name="action" value="create">Create</button>
        <button class="btn btn-light mt-5" type="submit" name="action" value="generate_ai">Generate AI</button>
    </form>

</body>

<%- include("partials/footer") %>
