<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Notes.ai</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/compose.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    
</head>

<body>
  <nav class="navbar navbar-default navbar-shadow">
    <div class="container">
      <div class="navbar-header">
        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">NOTES.AI</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/Get-started">GET STARTED</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li id="contact"><a href="/logout">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <!-- Rest of the page content -->
  </div>


<body>
    <div class="container note-container">
        <h1>Compose</h1>
        <form action="/compose" method="post">
            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input id="title" type="text" name="titleOfPost" autocomplete="off" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Ask our AI</label>
                <div><input id="prompt" type="text" name="Prompt" autocomplete="off" class="form-control" id="exampleFormControlInput1" ><button id="myButton" class="btn btn-secondary" type="submit" name="action" value="generate_ai">Ask AI</button></div>
                
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">New note</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="contentOfPost" autocomplete="off" ></textarea>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" type="submit" name="action" value="create">Create</button>
            </div>
        </form>
        <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
                <i class="material-icons">speaker_phone</i>
        </div>
      
      <div class="chat-box">
        <div class="chat-box-header">
          ChatBot
          <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
          <div class="chat-box-overlay">   
          </div>
          <div class="chat-logs">
           
          </div><!--chat-log -->
        </div>
        <div class="chat-input">      
          <form>
            <input type="text" id="chat-input" placeholder="Send a message..."/>
          <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
          </form>      
        </div>
      </div>
      
      
      
      
    </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../public/js/script.js"></script>
   
</body>
<%- include("partials/footer") %>