<%- include("partials/header") %>

<body>
    <h1 class="titleofpage"></h1>
    <div class="contact-box">
        <h2>Get in touch</h2>
        <a href="mailto:eteaghan@gmail.com" class="email-link">Send us an email</a>
    </div>
</body>

<%- include("partials/footer") %>
